src/test/testxmlniveaux/data/asteroides/asteroide.dtd

<!ELEMENT asteroide (images, repartition)>

	<!ELEMENT images (image+)>
		<!ELEMENT image (#PCDATA)>

	<!ELEMENT repartition (min, max)>
	<!--
		//TODO: changer la structure de repartition
		<!ELEMENT min (posX, posY, vx, vy, pv, loot)>
		<!ELEMENT max (posX, posY, vx, vy, pv, loot)>
			<!ELEMENT posX (#PCDATA)>
			<!ELEMENT posY (#PCDATA)>
			<!ELEMENT vx (#PCDATA)>
			<!ELEMENT vy (#PCDATA)>
			<!ELEMENT pv (#PCDATA)>
			<!ELEMENT loot (#PCDATA)>-->